# Alchemy API
ALCHEMY_URL=https://opt-mainnet.g.alchemy.com/v2
ALCHEMY_API_KEY=

# ClickHouse (optional)
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default
CLICKHOUSE_TABLE=trades

# Logging
LOG_LEVEL=INFO
